<!DOCTYPE html>
<html>
<head>
  <title>Football</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Football Pool 2015</h1>
    <nav>

        <%= link_to "Sign Out", root_url %>
        <%= link_to "Sign In", root_url %>
        <%= link_to "Sign Up", root_url %>
    </nav>
  </header>

<%= yield %>

</body>
</html>
